.row{

    background-image: url("https://img.freepik.com/free-photo/grunge-vintage-old-paper-background_1373-431.jpg?size=626&ext=jpg");
    
    text-align: center;
    


    
}


body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/129/108/non_2x/trivia-papper-background-illustration-vector.jpg");
}

.container{
    max-width: 900px;
    width: 100%;
    margin: 0 auto
}

.row-2{
    background-image: url("https://img.freepik.com/free-photo/grunge-vintage-old-paper-background_1373-431.jpg?size=626&ext=jpg"); 
    text-align: center;
    margin: 0 auto
}